*.mexw64
*.asv
*.slxc
slprj/
projects/qt_hello_world/debug
projects/qt_hello_world/debug/*.exe

projects/qt_hello_world/release
projects/qt_hello_world/release/*.exe

projects/qt_hello_world/*.stash
projects/qt_hello_world/Makefile
projects/qt_hello_world/Makefile.Debug
projects/qt_hello_world/Makefile.Release
projects/qt_hello_world/*.bat
projects/qt_server/debug
projects/qt_server/release

projects/qt_server/*.stash
projects/qt_server/Makefile
projects/qt_server/Makefile.Debug
projects/qt_server/Makefile.Release
projects/qt_server/*.bat


